<!-- ==========================================
      ABOUT — À propos
      Mise en page deux colonnes : texte à gauche,
      illustration à droite.
  ========================================== -->
<section id="about" class="about">
	<div class="section-container">
		<div class="about-container">
			<div class="about-content">
				<h2>Qui est Hibook?</h2>
				<p>
					Hibook est votre petit compagnon de lecture! C'est une petite chouette bienveillante qui adore les livres.Elle est là pour vous aider à trouver votre prochaine lecture et vous accompagner dans vos aventures littéraires.
				</p>
				<p>Avec Hibook, la gestion de votre pile à lire n'a jamais été aussi agréable et ludique!</p>
			</div>
			<div class="about-image">
				<img src="./images/logo-bleu.png" alt="Hibook" class="hibook-about">
			</div>
		</div>
	</div>
</section>
